
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <p class="card-text"><img src={{pokemonDetail.sprites.front_default}} alt="foto" width="100" height="100"></p>
      <h5 class="card-title">Nombre: {{ pokemonDetail.name }}</h5>
      <p class="card-text">Altura: {{ pokemonDetail.height}}</p>
      <p class="card-text">Peso: {{ pokemonDetail.weight}}</p>
      <p class="card-text">Id: {{ pokemonDetail.id}}</p>
      <div *ngFor="let abilitie of pokemonDetail.abilities">
        <p class="card-text" class="card-text">{{abilitie.ability.name}}</p>
      </div>
    </div>
  </div>
</div>